APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
                                                                                                        
LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mrmine4078@gmail.com
MAIL_PASSWORD=mthltgdftnigbdle
MAIL_ENCRYPTION=tls

GOOGLE_CLIENT_ID=85761567771-a8bpc6rqba3p67kvilovrib6hjmkonbu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://laravelauth.dev/login/google/callback

FACEBOOK_CLIENT_ID=674737547669798
FACEBOOK_CLIENT_SECRET=5bff5ac801b87ba36877603cb3d83d56
FACEBOOK_REDIRECT_URI=https://laravelauth.dev/login/facebook/callback

GITHUB_CLIENT_ID=9f8f2e1defc6c1d57450
GITHUB_CLIENT_SECRET=269e9cf0b0c71298ffb6a961bc37f33847a72ff1
GITHUB_REDIRECT_URI=https://laravelauth.dev/login/github/callback

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
